extends layout

block content
  #mission
    .container.mission-check
      .mission__title
        h2 미션확인소
      .mission__sub-title 
        |다음 중 확인하고 싶은 
        br
        |미션을 선택하세요.
      .mission-check__boxes
        .mission-check__box.shortage
          .mission-check__box--header
            .title 시장관리원 미션
            .count 
              |2/3
            //- #{done} / #{total}
          .mission-check__box--body
            |매대 상인에게 장사를 허가하고 자리를 지정하세요.
        .mission-check__box.wrong
          .mission-check__box--header
            .title 시장관리원 미션
            .count 
              |3/3
            //- #{done} / #{total}
          .mission-check__box--body
            |매대 상인에게 장사를 허가하고 자리를 지정하세요.
        .mission-check__box.done
          .mission-check__box--header
            .title 시장관리원 미션
            //- .count 
            //-   |3 / 3
            //- #{done} / #{total}
          .mission-check__box--body
            |매대 상인에게 장사를 허가하고 자리를 지정하세요.
          .mission-check__box--footer
            |미션 완수
      .mission__button
        button.btn.btn-default.btn-beige(onclick="goTo('./index.html')") 나가기